!!!5
html
	head
		title #{title}
		link(rel='stylesheet', href='stylesheets/styles.css')
		link(rel='stylesheet', href='stylesheets/reveal.css')
		<!--script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js")-->
		script(src="scripts/reveal/jquery-1.4.4.min.js")
		script(src="scripts/reveal/jquery.reveal.js")
	
	body
		block body
			header
				h1 Draw This
			#canvas
				block canvas
			#userTools
				block tools
				
			#myModal.reveal-modal
				block modal 
		
			

					
		script(src='/socket.io/socket.io.js')
		script(src='#{script}')
							
		footer
			p Powered by node.js and web sockets
			p Created by Michael Anderson