@import 'nib'
@import url('http://fonts.googleapis.com/css?family=Bangers')
global-reset()

/*
Base Styling
*/
body
	font-family 'Georgia'
	background-color #E5ED9F

header
	font-family 'Bangers'
	background-color #1BC6E0
	font-size 3em
	text-align center
	height 50px

p
	text-align center
	margin 10px

#canvas
	height 500px
	width 900px
	border 15px ridge #523A0D
	border-radius 5px
	margin 5px 

.pad
	//height 500px
	//width 900px
	background-color #FFF

#userTools
	position relative
	top -500px
	left 1000px
	height 400px
	width 200px

/*
Draw Page Styling
*/

#timesUp
	position absolute
	top 300px
	left 940px
	opacity 0




/*
View Page Styling
*/
#viewpad
	background-color #FFF

